/*.content {*/
  /*position: relative;*/
  /*width: 500px;*/
  /*margin: 0 auto;*/
  /*padding: 20px;*/
/*}*/
/*.content video {*/
  /*width: 100%;*/
  /*display: block;*/
/*}*/
/*.content:before {*/
  /*content: '';*/
  /*position: absolute;*/
  /*background: rgba(0, 0, 0, 0.5);*/
  /*border-radius: 5px;*/
  /*top: 0;*/
  /*right: 0;*/
  /*bottom: 0;*/
  /*left: 0;*/
/*}*/

.outer-container {
    /*border: 1px dotted black;*/
    text-align: center;
}
.inner-container {
    /*border: 1px solid black;*/
    display: inline-block;
    position: relative;
}
.video-overlay {
    position: absolute;
    left: 0px;
    bottom: 5%;
    width: 100%;
    color: #FFF;
    z-index: 999;
    /*background-color: rgba(50, 50, 50, 0.3);*/
}